<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/home.css">
    </head>
    
    <body>
    <div class="container">
        
    <h1 class="jumbotron"><strong>This is the home page</strong></h1>
    <a class="btn btn-primary center" href="/Address/new">Click to add New Address</a>
    
    </div>

    </body> 
    </html>